* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.center {
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.flex-container {
    height: 1000px;
}

.container {
    flex-flow: row wrap;
    height: 450px;
    width: 300px;
}

.border {
    border-radius: 10px;
}

.p-titolo {
    height: 70px;
    width: 100%;
    background-color: rgb(198, 198, 198);
    border-radius: 10px 10px 0px 0px;
}


.number0 {
    height: 70px;
    width: 100%;
    background-color: black;
}

.backgroud-number {
    height: 68%;
    width: 100%;
    background-color: rgb(123, 87, 87);
    border-radius: 0px 0px 10px 10px;
}

.number {
    flex-flow: row wrap;
    height: 100%;
    width: 73%;
    background-color: aqua;
    padding: 5px;
}

.number1 {

    flex-flow: row wrap;
    height: 100%;
    width: 20%;
    background-color: prgb(22, 26, 26);
    padding: 10px;
    justify-content: left;
}




.cell {
    flex-direction: row;
    height: 60px;
    width: 60px;
    margin: 3px;
    border: 1px solid black;
    vertical-align: middle;
}

.cell-1 {
    flex-grow: calc(1);
}