* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.center {
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.flex-container {
    height: 1000px;
    background-color: brown;
}

.container {
    flex-flow: column wrap;
    height: 450px;
    width: 300px;
}

.border {
    border-radius: 10px;
}

.p-titolo {
    height: 70px;
    width: 100%;
    background-color: rgb(198, 198, 198);
    border-radius: 10px 10px 0px 0px;
}

.text {
    font-family: ;
}

.number0 {
    height: 70px;
    width: 100%;
    background-color: black;
}

.backgroud-number {
    height: 68%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 0px 0px 10px 10px;
}

.number {
    height: 100%;
    width: 75%;
    background-color: aqua;
}